@import "variables";

body {
    font-family: 'Open Sans';
    margin: 0 auto;
    height: 100%;
    background-color: $content_bg;
}
.main_head {
	background-image: url(../img/apples.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
.logo, nav {
    padding: 40px;
}
.logo {
    float: left;
    padding-left: 10%;
    color: white;
    letter-spacing: 0.2em;
}
.top_block {
    display: inline;
}
.main_text {
    text-align: center;
    padding-top: 13%;
    color: white;
    .big_logo {
        letter-spacing: 0.3em;
        font-size: 2.5em;
        i {
        font-size: 2em;
        }
    }
    .sub_logo {
        margin-top: -2%;
        font-size: 0.8em;
    }
}
nav {
    float: right;
    margin-right: 10%;
    a {
        text-decoration: none;
        margin: 20px;
        color: white;
        padding: 5px;
        padding-bottom: 10px;
        &.active {
            border-bottom: 2px solid $nav_border;
        }
    }
}
.button {
    text-align: center;
    margin: 10% 0 5% 0;

}
.read_more {
    color: $time;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px white solid;
    width: 200px;
    padding: 15px;
}
.content_head {
    overflow: auto;
    background-color: white;
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    .left_col {
        float: left;
        width: 50%;
        font-size: 20px;
    }
    .right_col {
        float: right;
        width: 50%;
        font-size: 12px;
    }
}
.content {
    text-align: center;
    overflow: hidden;
    width: 100%;
    p {
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 20px;
    }
}
.gallery {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-gap: 30px;
    > div {
        border: 2px white solid;
    }
    .france {
        background-image: url(../img/sample.jpg);
        grid-column: 1/3;
        grid-row: 1;
        position: relative;
    }
    .budapest:nth-child(2) {
        background-image: url(../img/sample2.jpg);
        grid-column: 3/4;
        grid-row: 1;
        position: relative;
    }
    .budapest:nth-child(3) {
        background-image: url(../img/sample2.jpg);
        grid-column: 1/2;
        grid-row: 2;
        position: relative;
    }
    .america {
        background-image: url(../img/sample3.jpg);
        grid-column: 2/4;
        grid-row: 2;
        position: relative;
    }
    .subscribe {
        background-color: white;
        grid-column: 1/4;
        grid-row: 3;
        margin-top: 100px;
        padding: 75px 0 0 0;
        span {
            font-size: 25px;
            margin-right: 50px;
        }
    }
}
input[type="text"] {
    background-color: $content_bg;
    border: 1px solid $subscribe_btn;
    padding: 15px 0 15px 25px;
    margin-right: -4px;
    width: 30%;
}
input[type="button"] {
    background-color: $subscribe_btn;
    padding: 15px 30px 15px 30px;
    color: white;
    border: 1px solid $subscribe_btn;
    margin-left: -3px;
}
.like {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 14px;
    float: right;
    padding: 5px 10px 5px 10px;
    margin: 30px;
    border: 2px white solid;
}
.img_text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
    span {
        letter-spacing: 0.04em;
        float: left;
        padding-top: 50px;
        padding-left: 35px;
        color: white;
    }
}
.main_footer {
    background-color: white;
    margin-top: 150px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    .columns {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: justify;
        text-align-last: justify;
        .column {
            text-align: left;
            text-align-last: left;
            width: 25%;
            display: inline-block;
            vertical-align: top;
            input[type="text"] {
                color: $footer_text;
                font-style: italic;
                width: 60%;
                height: 50px;
                padding: auto;
//                margin-top: 10px;
//                float: left;
                box-sizing: border-box;
                vertical-align: bottom;
            }
            input[type="button"] {
                float: right;
                position: relative;
                width: 40%;
                height: 50px;
//                text-align: center;
                vertical-align: bottom;
                padding-right: auto;

            }
            .text {
                color: $footer_text;
                text-align: justify;
            }
            .header {
                font-weight: bold;
                font-size: 20px;
                text-align: left;
            }
            .time {
                color: $time;
                text-align: left;
            }
        }
        .column:nth-child(2) {
            width: 16%;
        }
        .column:nth-child(3) {
            width: 16%;
        }
    }
}
.bottom_menu {
    border-top: 1px solid $time;
    padding: 20px 0 20px 0;
    margin: 100px 0 20px 0;
    .copyright {
        text-align: left;
        text-align-last: left;
        float: left;
        color: $footer_text;
    }
    .nav_bottom {
        text-align: right;
        text-align-last: right;
        float: right;
    }
    .navbtm {
        color: black;
        text-decoration: none;
        margin: 20px 0 20px 40px;
    }
}
