$page_bg: rgba(198, 238, 252, 0.53);
$block_bg: #fff178;
$content_bg: #3b3b3b;
$heading: #fccd10;
$table_head: #94a34e;
$table_bg: #677d01;
$forms: #808080;
$send_btn: $heading;
$link: #f5c70f;
$text_color: #ffffff;
$uppercase: uppercase;
$contact_text: $heading;
$brief_width: 100%;
$brief_margin_bot: 40px;
