$page_bg: #dcbb9a;
$block_bg: #fadcba;
$content_bg: #ffffff;
$heading: #893c00;
$table_head: #e0e0e0;
$table_bg: #ffffff;
$forms: #808080;
$send_btn: #3d70a1;
$link: $send_btn;
$text_color: null;
$uppercase: capitalize;
$contact_text: $forms;
$brief_width: 420px;
$brief_margin_bot: 5px;
